[mysqld]
log_bin_trust_function_creators = 1
sql_mode=""
interactive_timeout = 600
wait_timeout=600
log-error       = /var/log/mysql/error.log
skip-host-cache
skip-name-resolve

server-id = 1
log_bin = /var/log/mysql/mysql-bin.log
binlog_format = ROW
binlog_do_db = mydb
